.Variable-rowstyle {
background-color: rgb(88, 177, 252);
}

.CodeList-rowstyle {
background-color: rgb(182, 209, 242);
}

.codelist-namestyle {
   font-style:italic;
   color:green;
}

.header-rowstyle {
    background-color: #248dc1;
    color:white;
    padding: 5px;
}

.coldlist-valuecol{
    text-align: right;

}

.coldlist-namecol{
    text-indent: 15pt;

}
